:root {
  /* Colors */
  --red: #e41535;
  --blue: #066a96;
  --black: #00162f;
  --white: #ffffff;

  /* Fonts */
  --mainFontFamily: 'Poppins Thin', 'Arial', 'Helvetica', sans-serif;
  --boldFontFamily: 'Poppins Medium', 'Arial', 'Helvetica', sans-serif;
  --secondaryFontFamily: 'Roboto Slab', 'Georgia', 'Times New Roman', 'Times', serif;

  /* Margins */

  /* Paddings */

  /* Layout */

}
